.title{
background-color: #387EF5;
border: .5px solid black;

}

.titletext{
text-align: center;



}

.centered{
display: block;
  margin-left: auto;
  margin-right: auto;

}

.form {
  text-align: center;
}




a.ForgotEmailButton:link,
a.ForgotEmailButton:visited
{
	background-color: #387EF5;
     padding: 14px 25px;
    display: inline-block;
    text-decoration: none;
	color: white;
	border-radius: 5px;
	width: 80%;
}

a.ForgotEmailButton:hover,
a.ForgotEmailButton:active{
    background-color: #124fb7;
}

.textParagraph{
text-align: center;
font-family: Josefin Sans;

}





div.forgotEmail{
margin: auto;
width: 80%;
color: white;
text-align: center;
padding: 10px;

}

.Josefin{
font-family: Josefin Sans;
}

