.title{
background-color: #387EF5;
border: .5px solid black;

}

.titletext{
text-align: center;



}

.centered{
display: block;
  margin-left: auto;
  margin-right: auto;

}

.form {
  text-align: center;
}




a.SignUp:link,
a.SignUp:visited
{
	background-color: #387EF5;
     padding: 14px 25px;
    display: inline-block;
    text-decoration: none;
	color: white;
	border-radius: 5px;
	width: 80%;
}

a.SignUp:hover,
a.SignUp:active{
    background-color: #124fb7;
}





div.signupbutton{
margin: auto;
width: 80%;
color: white;
text-align: center;
padding: 10px;

}

